p{
    color: rgb(21, 124, 168);
}

button{
    color: rgb(205, 152, 46);
    background-color: white;
}

body{
    background-color:#9a8c98;
}

/* ID SELECTOR */
#headingOne{
    color: green;
}

#headingtwo{
    color: blue;
}

.myclass{
    color: red;
}
