#box{
    background-color: blue;
}

.heading{
    color: red;
}

/* h1,h2,h3{ 
    color: red;
 }*/ 

button{
background-color: green;
}

/* ID SELECTOR */
#headingOne{
    color: green;
}

#headingtwo{
    color: blue;
}

.myclass{
    color: red;
}

p{
    text-align: center;
}

h1{
    text-align: center;
    text-decoration: blue wavy underline;
}

a{
    text-decoration: none;
}